@import "tailwindcss";
@layer base {
  input[type="number"] {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: number-input;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    display: block;
  }
}